h1{
    color: blue;
}
h2{
    color:blueviolet;
}
body {
  background-color: #f2dcf2;
}
.drinks {
  background-color: #cc8ecc;
}
nav,footer {
background-color: #8dbfa1;
}
h1,h2,h3 {
  color: #1d1395;
}